@model IList<LAB1.Models.InvoiceModel>
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>

    @Html.ValidationSummary()
    
    <form class="form-inline">
        <input name="id" type="hidden" value="@ViewBag.ID">
        <div class="form-group mb-2">
            <label for="findId">Szukaj:</label>
            <input value="@ViewBag.find" name="find" type="text" class="form-control" id="findId" aria-describedby="szukan pozycja" placeholder="szukam pozycji">
            <label for="findaddress">Szukaj adresów:</label>
            <input value="@ViewBag.address" name="address" type="text" class="form-control" id="findaddress" aria-describedby="szukaj adresów" placeholder="szukam adresu">
        </div>
        <button type="submit" class="btn btn-primary mb-2">Szukaj</button>
    </form>

    <table class="table">
        <thead>
            <tr>
            <th scope="col">@Html.DisplayNameFor(m=>m[0].ID)</th>
            <th scope="col">@Html.DisplayNameFor(m=>m[0].Date)</th>
            <th scope="col">@Html.DisplayNameFor(m=>m[0].Address)</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
            <tr>
            <th>@item.ID</th>
            <td>@item.Date</td>
            <td>@item.Address</td>
            </tr>
            }
        </tbody>
    </table>
    
    @if(ViewBag.address_list != null)
    @foreach(var i in ViewBag.address_list){
        @i<br/> 
    }

</div>
